
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f2f5ff;
    color: #2a3a59;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.left-panel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


textarea {
    width: 100%;
    height: 30%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #dde3f0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2a3a59;
}

.note {
    background-color: #dde3f0;
    font-size: 14px;
    color: #616161;
    margin-bottom: 20px;
}
.note::before{
    content:"⚠";
    font-size: 100%;
}



.buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#encrypt-btn {
    background-color: #2a3a59;
    color: #ffffff;
}

#decrypt-btn {
    background-color: #e6e9f4;
    color: #2a3a59;
}


#clean{
    background-color: #e6e9f4;
    color: #2a3a59;
}

.right-panel {
    flex: 1;
    padding: 30px;
    background-color: #f9fbff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #2a3a59;
}

.instruction {
    font-size: 16px;
    color: #616161;
    text-align: center;
    margin-top: 10px;
}
.imagen{
    border-radius: 10px;
    width: 95%;
    height: 80%;
}
.footer{
    display: flex;
    background-color: #949cb4;
    color: #787e8d;
    width: 100%;
    align-items: center;
   
    flex-direction: column-reverse;
    
}

.imagen2{
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin: 0%;
}




.aboutme{
    display: flex;
    justify-content: center;
    margin: 1%;
    
}

.apoyo{
    justify-content: center;
}